@page
@model GenerateCharacterModel
@{
}
<div class="row">
    <div class="col-6">
        <label class="form-label">Access Token</label>
        <input type="text" name="accessToken" class="form-control form-control-sm" readonly="readonly" />
    </div>
    <div class="col-6">
        <label class="form-label">Encryption Key</label>
        <input type="text" name="encryptionKey" class="form-control form-control-sm" readonly="readonly" />
    </div>
    <div id="content" class="col-12"></div>
</div>


@section Scripts
{
}
